
profiles {

    standard {
        process.executor = 'local'
    }

    slurm {


        executor {
            name = 'slurm'
            queueSize = 50
            pollInterval = '1 min'
            queueStatInterval = '2 min'  
        }

        process {

            queue = 'med2'
            time = '1:00:00'  
            memory = '1G'
         

            withName: drop_ind {
                time = '4:00:00'  
                memory = '2G'
            }


            withName: filter {
                time = '3:00:00'  
                memory = '2G'
            }

            withName: ngs_admix {
                time = '3:00:00'
                memory = '2G'
                cpus = params.ADMIX_THREADS
            }

        }

    }

}


